<div class="modal-header">
  <h4 *ngIf="addEmp" class="modal-title">Add Employee</h4>
  <h4 *ngIf="editEmp" class="modal-title">Edit Employee</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="container my-3">
    <form [formGroup]="form">
      <div class="form-group my-4">
        <label for="firstname">First Name</label>
        <input
          type="text"
          name="firstname"
          formControlName="firstName"
          class="form-control"
        />
        <div
          class="text text-danger"
          *ngIf="firstName.invalid && firstName.touched"
        >
          First Name is required.
        </div>
      </div>
      <div class="form-group my-4">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          name="lastname"
          formControlName="lastName"
          class="form-control"
        />
        <div
          class="text text-danger"
          *ngIf="lastName.invalid && lastName.touched"
        >
          Last Name is required.
        </div>
      </div>
      <div class="form-group my-4">
        <label for="age">Age</label>
        <input
          type="number"
          name="age"
          formControlName="age"
          class="form-control"
        />
        <div class="text text-danger" *ngIf="age.invalid && age.touched">
          <div *ngIf="age.errors.required">Age is required.</div>
          <div *ngIf="age.errors.min">Age must be greater than 0.</div>
        </div>
      </div>
      <div class="form-group my-4">
        <label for="email">Email Id</label>
        <input
          type="email"
          name="email"
          formControlName="email"
          class="form-control"
        />
        <div class="text text-danger" *ngIf="email.invalid && email.touched">
          <div *ngIf="email.errors.required">Email is required.</div>
          <div *ngIf="email.errors.email">Enter Valid Email Address.</div>
        </div>
      </div>
      <div class="form-group my-4">
        <label for="salary">Salary</label>
        <input
          type="number"
          name="salary"
          formControlName="salary"
          class="form-control"
        />
        <div class="text text-danger" *ngIf="salary.invalid && salary.touched">
          <div *ngIf="salary.errors.required">Salary is required.</div>
          <div *ngIf="salary.errors.min">Salary must be a positive value.</div>
        </div>
      </div>
      <div class="form-group my-4">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control" />
        <div
          class="text text-danger"
          *ngIf="address.invalid && address.touched"
        >
          Address required.
        </div>
      </div>
      <div class="form-group my-4">
        <label for="contactNumber">Contact Number</label>
        <input
          type="text"
          formControlName="contactNumber"
          class="form-control"
        />
        <div
          class="text text-danger"
          *ngIf="contactNumber.invalid && contactNumber.touched"
        >
          <div *ngIf="contactNumber.hasError('required')">
            Contact Number required.
          </div>

          <div
            *ngIf="
              (contactNumber.hasError('minlength') ||
                contactNumber.hasError('maxlength')) &&
              !contactNumber.errors.required
            "
          >
            Please enter 10 digit mobile number.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="addEmp ? addEmployee() : updateEmployee()"
  >
    <div *ngIf="!submitted">
      {{ addEmp ? "Add Employee" : "Update Employee" }}
    </div>
    <div *ngIf="submitted">
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      {{ addEmp ? "Adding..." : "Updating..." }}
    </div>
  </button>

  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
