.box1 {
  width: 100%;
  margin-bottom: 30px;
}

.table-body:hover {
  background-color: rgb(215, 215, 215);
}

/* Card Responsive */

@media only screen and (min-width: 1200px) {
  .tab-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .tab-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .tab-card {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.btn {
  float: right;
  margin-right: 50px;
}

/* .box {
  display: inline-block;
  width: 21%;
} */

.card {
  box-shadow: 5px 5px 20px rgb(65, 172, 255);
}

.card:hover {
  background-color: rgb(236, 236, 236);
}

.action-icons {
  display: inline-block;
  margin: auto;
  height: 2rem;
}

.table tbody tr:nth-child(even) {
  background-color: rgb(236, 245, 255);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.custom-edit {
  color: rgb(94, 94, 255);
  cursor: pointer;
}

.custom-delete {
  color: rgb(255, 31, 31);
  cursor: pointer;
}

/* Table Responsive */

@media only screen and (max-width: 992px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table td,
  .table tr {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;
    padding-right: 30px;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
