.container {
  width: 100%;
  margin: 70px auto;
}
h2 {
  margin-bottom: 60px;
}

table {
  width: 100%;
  overflow-x: scroll;
}

thead {
  background-color: black;
}

th.mat-sort-header-sorted {
  color: black;
}
