@media only screen and (min-width: 960px) {
  .chart-box {
    height: 30rem;
    width: 60rem;
  }
}

@media only screen and (max-width: 960px) {
  .chart-box {
    height: 20rem;
    width: 40rem;
  }
}

@media only screen and (max-width: 645px) {
  .chart-box {
    height: 20rem;
    width: 30rem;
  }
}
